body{
    margin: auto;
}

header{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #5F7A6B;
    box-shadow: 0px 0px 10px black;
}

.logo{
    height: 10vh;
    text-align: left;
}

.logo img{
    height: 10vh;
    object-fit: fill;
}

header img{
    border-radius: 50%;
}

header div{
    line-height: 50px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    margin-top: 0;
}

.redes img{
    width: 10%;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.inicio:hover{
    font-size: large;
    background-color: black;
    text-decoration: underline;
}

.nos:hover{
    font-size: large;
    background-color: black;
    text-decoration: underline;
}

.tienda:hover{
    font-size: large;
    background-color: black;
    text-decoration: underline;
}

.redes:hover{
    background-color: black;
}

#help{
    background-color: #18332D;
    font-family: 'Maven Pro', sans-serif;
    margin: auto;
    font-weight: 900;
    color: white;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 10vh;
    z-index: 2;
    position: sticky;
    top: 0;
}

.ref{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "left right";
}

#inforef{
    display: grid;
    place-content: center;
    overflow: auto;
    text-align: center;
    width: 100%;
    height: 50vh;
    grid-area: left;
}

#inforef:hover{
    text-shadow: 0px 0px 10px black;
}

.ref img{
    object-fit: fill;
    width: 100%;
    height: 50vh;
    grid-area: right;
}


#def{
    background-color: #BCC0BA;
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-columns:15% 30% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "top top top"
                        "left center right"
                        "bajo bajo bajo";
}

#titdef{
    background-color: #5F7A6B;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5rem;
    display: grid;
    grid-area: top;
    place-content: center;
    text-align: center;
    width: 100%;
    height: 15vh;
}


.infodef{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 0.9rem;
    overflow: auto;
    width: 100%;
    height: 75vh;
    grid-area: right;
}

.infodef:hover{
    color: white;
    text-shadow: 0px 0px 5px black;
}

#def img{
    width: 100%;
    height: 75vh;
    display: grid;
    place-content: center;
    object-fit: contain;
    grid-area: center;
}

.cuadro{
    text-align: center;
    display: grid;
    place-content: center;
    width: 100%;
    height: 75vh;
    grid-area: left;
}

.actuar{
    background-color: #5F7A6B;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    text-shadow: 0px 0px 10px #18332D;
    font-size: 2rem;
    display: grid;
    grid-area: bajo;
    place-content: center;
    width: 100%;
    height: 20vh;
    text-align: center;
}

h2::selection{
    background-color: #18332D;
}

#infopro{
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'left right';
}

.pro{
    overflow: auto;
    text-align: center;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    width: 100%;
    height: 75vh;
    grid-area: left;
}

.pro:hover{ 
    text-shadow: 0px 0px 5px black;
}

#infopro img{
    object-fit: fill;
    width: 100%;
    height:75vh;
}

#logo{
    text-align: center;
}
#logo img{
    width: 200px;
    height: auto;
    text-align: center;
}
.google{
    text-align: center;
    width: 100%;
    height: 5vh;
}